@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

html {
    scroll-behavior: smooth;
}

img.twemoji {
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}